$width: 730px;
$cr_txt1 : #333;
$cr_sp1 : #638bbe;
$cr_brd1: #cdcdcd;
@mixin hide {
	display:block; width:0; height:0; padding:0; text-indent:-1000000px; overflow:hidden;
}

/*font*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	/*font*/
	font:15px "Nanum Gothic", "malgun gothic","dotum";
	color:$cr_txt1;
	* {font-family:inherit;}

	/*margin, padding*/
	h1,h2,h3,h4,h5,h6  {display:block; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0;}
	header, section, footer, nav {display:block; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0;}
	div, ul, li, dl, dt, dd, p  {display:block; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0;}
	ol,ul,li {list-style:none;}

	/*link*/
	a {text-decoration:none;}
	a:link {color:#777;}      /* unvisited link */
	a:visited {color:#777;}  /* visited link */
	a:hover {color:#ee2c68;}  /* mouse over link */
	a:active {color:#777;}  /* selected link */

	/*img*/
	img {vertical-align:bottom; border:0;}

	/*form*/
	input,select,textarea{
		-webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box;
		border:1px solid #cdcdcd;
		vertical-align:middle;
		font-size:1em; line-height:1.3em;
	}
	label {
		vertical-align:middle;
	}

	/*button*/
	input[type='button'], button{
		-webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box;
		border:1px solid #cdcdcd;
		cursor:pointer;
	}

	/*mobile*/
	.mobile > div {
		-moz-text-size-adjust:100%;
		-webkit-text-size-adjust:100%;
		-ms-text-size-adjust:100%;
		max-height:1000000px;
	}
}

/*wrapper
----------------------------------------------*/
.namuon{
	width:$width; margin:0 auto;
	div[id^=unit_]:not(.popup)  {position:relative; margin-bottom:3em; padding:1em;}

	/*hide*/
	h2,h3 {@include hide}

	/*template*/
	/*#unit_intro{
		.frm, > .btns{
			border:1px solid $cr_brd1;
			margin:1em 0; padding:1em;
		}
	}
	.popup{
		display:block; position:relative !important; margin:0 auto; left:0;
	}*/
	/*----*/
}

/*intro
----------------------------------------------*/
#unit_intro {
	.board{
		 table {
			margin-top:0;
		   	width: 100%; table-layout: fixed;  border-collapse: collapse;
		   	border-top: 1px solid $cr_sp1; clear: both;
			caption {  @include hide }
			.thw2 {width:60px;}
			.thw3 {width:90px;}
			.thw4 {width:100px;}
			th {
			  background: $cr_sp1; color: #fff;
			  text-align: center;  height: 34px; line-height: 34px;
			}
			td {
			  border-bottom: 1px solid #ddd; padding: 13px 0 12px 0;
			  vertical-align: top;  line-height: 100%; text-align: center;
			  color: #999; word-break: break-all;

			  a { color: #999; text-decoration: none;}
			  p { padding: 5px 0 0 0; }
			}
			td.left {
			  text-align: left;
			  padding: 13px 0 12px 23px;
			}
		}
		.paging { width: 100%;text-align: center;
	  		clear: both; padding: 16px 0 20px 0; margin: 0 auto;
	  		color: #999; font-size: 11px;
	  		a {
			  display: inline-block;
			  font-weight: normal;
			  color: #999;
			  font-size: 11px;
			  margin: 0 5px;
			  padding: 0;
			}
			a img {
			  vertical-align: middle;
			}
	  	}
	}
}


/*partin
----------------------------------------------*/
#unit_reg{
	.bg {position:relative; text-indent:0; left:0; height:auto;}
	.frm{
		//position:absolute; top:100px; left:50%; margin-left:-320px; min-height:600px; z-index:10;
		dl {
			overflow:hidden;
			margin:0 auto;
			width:100%;
			dt {float:left; clear:left; width:25%; padding-left:3%; text-align:left;  border-top:1px solid $cr_brd1; line-height:30px;}
			dd {float:left;  width:75%; border-top:1px solid $cr_brd1; padding:3px 0;}

			.txt {margin:0 -3px; vertical-align:middle;  line-height:24px; color:#999;}
			.chr2 {letter-spacing:1.9em;}

			dt.name {
				border:none;
				letter-spacing:10px;
				/*label{display:block;
					background:url(../../images/img.png) no-repeat -216px -18px;
					width:60px; height:18px;
					text-indent:-1000px; overflow:hidden;
				}*/
			}
			dd.name{  border:none; }

			dt.phone{
				//clear:none;
				/*span{display:block; text-indent:-1000px; overflow:hidden;
					background:url(../../images/img.png) no-repeat -216px -102px;
					width:100px; height:18px;
				}*/
			}
			dd.phone {
				clear:none;
				input[type=text] {width:4em;}
				select {width:5em}
				label {position:absolute; left:-1000px;}
			}

			dt.email{
				clear:left;
				letter-spacing:.5em;
				/*span{display:block; text-indent:-1000px; overflow:hidden;
					background:url(../../images/img.png) no-repeat -216px -49px;
					width:60px; height:18px;
				}*/
			}
			dd.email { min-width:400px;}

			dt.zipcode{
				letter-spacing:0em;
				/*label{display:block;
					background:url(../../images/img.png) no-repeat -216px -79px;
					width:60px; height:18px;
					text-indent:-1000px; overflow:hidden;
				}*/
			}
			dd.zipcode {
				.btn_zipcode {
					display:inline-block; vertical-align:middle;
					background:url(../../images/img.png) no-repeat -216px -204px;
					width:80px; height:20px;
					text-indent:-1000px; overflow:hidden;
				}
			}

			dt.address{
				letter-spacing:2em;
			}
			dd.address{
				.input1,.input2 {width:290px;}
				.address2{
					font:bold 12px "malgun gothic"; line-height:25px;
					/*display:inline-block;
					background:url(../../images/img.png) no-repeat -216px -121px;
					width:60px; height:19px;
					text-indent:-1000px; overflow:hidden;*/
				}
			}

			dt.agree {@include hide;}
			.agree {
				width:100%; padding:1em;
				h3 { @include hide }
				/*h3{
					display:block;
					background:url(../../images/img.png?17) no-repeat -213px -151px; width: 244px; height: 13px;
					text-indent:-1000px; overflow:hidden; margin-bottom:0; margin-top:10px;
				}*/
				p{margin:8px 0 5px;}
				/*.title1 {
					margin:8px 0 5px;
					background:url(../../images/img.png?17) no-repeat -216px -263px; width: 118px;	height: 13px;
					text-indent:-1000px; overflow:hidden;
				}
				.title2{
					margin:4px 0 5px;
					background:url(../../images/img.png?17) no-repeat -349px -263px; width: 118px;	height: 13px;
					text-indent:-1000px; overflow:hidden;
				}
				.title3 {
					margin:4px 0 5px;
					background:url(../../images/img.png?17) no-repeat -480px -264px; width: 91px; height: 12px;
					text-indent:-1000px; overflow:hidden;
				}*/
				.txt {
					margin:5px 0; padding:5px 10px; font-size:12px; font-weight:normal; color:#777;
					width:100%; height:55px; line-height:1.3em;
					 background:#fff; border:1px solid #f6e4a2; overflow:auto;
				}
				.check {
					 text-align:right; margin-top:0;
					 input {vertical-align:top;}
					 label{display:inline-block; vertical-align:top;
						/*background:url(../../images/img.png?17) no-repeat -214px -169px;
						width:60px; height:18px; font-size:0;
						text-indent:-1000px; overflow:hidden;*/
					}
					label[for=all]{
						/*background:url(../../images/img.png?18) no-repeat -278px -169px;
						width:80px; height:18px; font-size:0;*/
					}
				}
			}
		}
		.btn_save {
			//position:absolute; bottom:5px; right:40px;
			display:block; margin:0 auto;
			background:url(../../images/img.png) no-repeat  -213px -388px;
			width: 126px; height: 34px;
			text-indent:-1000px; overflow:hidden;
		}
		.btn_home{
			//position:absolute; bottom:0px; left:50%; margin-left:10px;
			display:block;
			background:url(../../images/img.png) no-repeat  0 -259px;
			width: 140px;
			height: 48px;
			text-indent:-1000px; overflow:hidden;
		}
	}
}

#unit_zipcode{
	padding:2em; font-size:1.1em;
	.txt{ color:#666666; line-height:1.5em; }
	.set {
		position:relative;
		margin:20px auto; padding-right:75px;
		background:#f7f7f7;
		label {@include hide;}
		input[type=text]{
			width:100%; height:31px;
		}
		.btn {
			position:absolute; right:0; top:0;
			display:block; overflow:hidden;
			//background:url(../../images/img.png) no-repeat  -55px -7px; text-indent:-1000px;
			width: 72px;
			height: 31px;
		}
	}
	.list {
		border-top:2px dashed #d6d6d6;
		.empty {text-align:center; padding:2em;}
		ul {margin:20px; font-size:15px; height:180px; overflow:auto;}
	}
}


/*popup & loading
----------------------------------------------*/
#popup_blind, #loading_blind {
	display:none;
	position:absolute; left:0; top:0; z-index:10; width:100%; min-width:840px;
	background:url(../../images/blind.png)
}
.popup {
	display:none; position:absolute; margin-left:-320px; top:50px; left:50%;
	width:640px;
	border:1px solid #cdcdcd; background:#fff;
	> .close {
		position:absolute; z-index:125; right:-35px; top:0; cursor:pointer;
		text-indent:-100000px; border:0;
		background:url(../../images/img.png) no-repeat   -16px -21px;
		width: 35px;
		height: 35px;
	}
}
#loading {
	display:none;
	position:absolute; z-index:1000; left:50%; margin-left:-50px;
	width:100px; height:200px;
	background:url(../../images/loader.gif)no-repeat center center;
}


/*mobile
-----------------------------*/
.mobile{ margin:0 auto;
	width:640px;
	min-height:700px;
	/*mobile reset*/
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	> div {
		width:100%; overflow:hidden;
		max-height:1000000px;
	}
	/*--*/

    .namuon {
		font-size:16px;
		width:640px;
		margin:0 auto;
		border:0; padding:0;
		img {max-width:100%;}

		.btn_prev {
			display:block; text-indent:-9999px;
			background:url(../../images/img.png) no-repeat -72px -54px;
			width: 184px;
			height: 33px;
		}
		#unit_intro {
			padding:0;
			> .wrap{
				background:url(../../images/intro_m.jpg) no-repeat;  height:1837px;
				//a {border:1px solid;}
				.btn_update_info { left:400px; top:844px; width:60px; height:25px;}
				.btn_prd1 { left:72px; top:1080px; width:500px; height:310px;}
				.btn_prd2 { left:88px; top:1399px; width:500px; height:280px;}
				.btn_sample { left:18px; top:1730px; width:297px; height:57px;}
				.btn_result { right:13px; top:1730px; width:297px; height:57px;}
			}
			.board {margin-top:0;}
		}
		#unit_reg {
			padding-bottom:50px;
			p, dt, dd { font-size:1.2em; }
			.frm .btn_save {
				position:absolute; bottom:20px; right:18%;
				display:block;
			}.frm .btn_prev {
				position:absolute; bottom:20px; left:18%;
				display:block;
			}
		}
		#unit_zipcode{
			.btns{display:block;}
			.btn_prev{margin:0 auto; float:none; display:block;}
		}
		.popup {
			display:none; position:relative;  width:640px; margin:0 auto;
			left:0; top:0;
			//display:none; position:absolute; margin-left:-320px; top:50px; left:50%;
			width:640px;  background:#fff;
		}
	}
}